Import Library

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from IPython.display import Image
%matplotlib inline
import seaborn as sns

Load Dataset

In [2]:
# membaca data dari Train.csv dan Test.csv
%time train_data = pd.read_csv("Dataset/Train.csv", delimiter=',', index_col =0)
%time test_data = pd.read_csv("Dataset/Test.csv", delimiter=',', index_col =0)

Wall time: 20 ms
Wall time: 15 ms

In [3]:
# melihat data teratas dari train data
train_data.head()

,Song Name,Artist's Name,Duration of Music (seconds),Category,Lyrics
SongID,,,,,
1,All Messed Up,Sum 41,164,angry,Another day wasted out of time I can't get out...
2,All Nightmare Long,Metallica,477,angry,Crawl from the wreckage one more time Horrific...
3,American Idiot (Album Version),Green Day,176,angry,Don't wanna be an American idiot. Don't want ...
4,Angry Again,Megadeth,242,angry,The more of you that I inspect The more of me ...
5,Annihilation By The Hands Of God (Album Version),Roadrunner United,333,angry,The prophets of God have left you solaced inde...

In [4]:
# melihat data teratas dari test data
test_data.head()

,Song Name,Artist's Name,Duration of Music (seconds),Category,Lyrics
SongID,,,,,
1,'Till I Collapse,Eminem,299,angry,"Sometimes you just feel tired, feel weak When ..."
2,25 To Life,Eminem,644,angry,too late for the other side caught in a change...
3,A Century Ends,David Gray,308,angry,Cast your eyes into the distance Try to focus ...
4,A N I C,Sum 41,41,angry,"Look like ass, smell like shit why are you suc..."
5,Rain Man,Eminem,320,angry,You find me offensive I find you offensive for...

# Data Preprocessing

## 1. Data Cleaning

### Detecting the Missing Value

In [5]:
# mendeteksi missing value dengan mengembalikan nilai boolean (true/false) pada data train
train_data.isna()

,Song Name,Artist's Name,Duration of Music (seconds),Category,Lyrics
SongID,,,,,
1,False,False,False,False,False
2,False,False,False,False,False
3,False,False,False,False,False
4,False,False,False,False,False
5,False,False,False,False,False
...,...,...,...,...,...
96,False,False,False,False,False
97,False,False,False,False,False
98,False,False,False,False,False
99,False,False,False,False,False
100,False,False,False,False,False

In [6]:
# mendeteksi missing value dengan mengembalikan nilai boolean (true/false) pada data test
test_data.isna()

,Song Name,Artist's Name,Duration of Music (seconds),Category,Lyrics
SongID,,,,,
1,False,False,False,False,False
2,False,False,False,False,False
3,False,False,False,False,False
4,False,False,False,False,False
5,False,False,False,False,False
...,...,...,...,...,...
97,False,False,False,False,False
98,False,False,False,False,False
99,False,False,False,False,False
100,False,False,False,False,False
101,False,False,False,False,False

### Summarizing the Missing Value

In [7]:
# melakukan agregasi data
train_data.isna().sum()

Song Name                      0
Artist's Name                  0
Duration of Music (seconds)    0
Category                       0
Lyrics                         0
dtype: int64

In [8]:
# melakukan agregasi data
test_data.isna().sum()

Song Name                      0
Artist's Name                  0
Duration of Music (seconds)    0
Category                       0
Lyrics                         0
dtype: int64

Column does not contain Missing Values

## 2. Case Folding

In [9]:
# case folding/ lowercasing
train_data['Lyrics'] = train_data['Lyrics'].str.lower()
train_Lyrics = train_data.iloc[:400]

test_data['Lyrics'] = test_data['Lyrics'].str.lower()
test_Lyrics = test_data.iloc[:400]

## 3. Tokenization

In [10]:
import re
import nltk
nltk.download('punkt')

[nltk_data] Downloading package punkt to C:\Users\Inggrit
[nltk_data]     Purba\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!

True

In [11]:
from nltk.tokenize import RegexpTokenizer

In [12]:
Regtokenizer = RegexpTokenizer(train_Lyrics['Lyrics'])
print(Regtokenizer)

RegexpTokenizer(pattern=SongID
1      another day wasted out of time i can't get out...
2      crawl from the wreckage one more time horrific...
3      don't wanna be an american idiot.  don't want ...
4      the more of you that i inspect the more of me ...
5      the prophets of god have left you solaced inde...
                             ...
96     over the rainbow what a wonderful world "orion...
97     the sunshineâs come, the flowers dance along...
98     this stone that i have swallowed isn't goin do...
99     love is like an aero plane you jump and then y...
100    wise men say wise men say wise men say the bad...
Name: Lyrics, Length: 400, dtype: object, gaps=False, discard_empty=True, flags=re.UNICODE|re.MULTILINE|re.DOTALL)

In [13]:
Regtokenizer = RegexpTokenizer(test_Lyrics['Lyrics'])
print(Regtokenizer)

RegexpTokenizer(pattern=SongID
1      sometimes you just feel tired, feel weak when ...
2      too late for the other side caught in a change...
3      cast your eyes into the distance try to focus ...
4      look like ass, smell like shit why are you suc...
5      you find me offensive i find you offensive for...
                             ...
97     the bluest skies don't seem so blue and the st...
98     you are my sunshine, my only sunshine you make...
99     see the pyramids along the nile watch the sunr...
100    see the pyramids along the nile watch the sun ...
101    staring at the moon so blue turning all my tho...
Name: Lyrics, Length: 378, dtype: object, gaps=False, discard_empty=True, flags=re.UNICODE|re.MULTILINE|re.DOTALL)

In [14]:
from nltk.tokenize import word_tokenize

In [15]:

import string 
import re
#remove number
def remove_number(text):
    return  re.sub(r"\d+", "", text)

train_data['Lyrics'] = train_data['Lyrics'].apply(remove_number)

#remove punctuation
def remove_punctuation(text):
    return text.translate(str.maketrans("","",string.punctuation))

train_data['Lyrics'] = train_data['Lyrics'].apply(remove_punctuation)

#remove whitespace leading & trailing
def remove_whitespace_LT(text):
    return text.strip()

train_data['Lyrics'] = train_data['Lyrics'].apply(remove_whitespace_LT)

#remove multiple whitespace into single whitespace
def remove_whitespace_multiple(text):
    return re.sub('\s+',' ',text)

train_data['Lyrics'] = train_data['Lyrics'].apply(remove_whitespace_multiple)

# remove single char
def remove_singl_char(text):
    return re.sub(r"\b[a-zA-Z]\b", "", text)

train_data['Lyrics'] = train_data['Lyrics'].apply(remove_singl_char)

# NLTK word tokenize 
def word_tokenize_wrapper(text):
    return word_tokenize(text)

train_data['Lyrics_tokens']= train_data['Lyrics'].apply(word_tokenize_wrapper)

print('Tokenizing Result : \n') 
print(train_data['Lyrics_tokens'])
print('\n\n\n')

Tokenizing Result :

SongID
1      [another, day, wasted, out, of, time, cant, ge...
2      [crawl, from, the, wreckage, one, more, time, ...
3      [dont, wan, na, be, an, american, idiot, dont,...
4      [the, more, of, you, that, inspect, the, more,...
5      [the, prophets, of, god, have, left, you, sola...
                             ...
96     [over, the, rainbow, what, wonderful, world, o...
97     [the, sunshineâ, come, the, flowers, dance, ...
98     [this, stone, that, have, swallowed, isnt, goi...
99     [love, is, like, an, aero, plane, you, jump, a...
100    [wise, men, say, wise, men, say, wise, men, sa...
Name: Lyrics_tokens, Length: 400, dtype: object

In [16]:
train_data.head()

,Song Name,Artist's Name,Duration of Music (seconds),Category,Lyrics,Lyrics_tokens
SongID,,,,,,
1,All Messed Up,Sum 41,164,angry,another day wasted out of time cant get out o...,"[another, day, wasted, out, of, time, cant, ge..."
2,All Nightmare Long,Metallica,477,angry,crawl from the wreckage one more time horrific...,"[crawl, from, the, wreckage, one, more, time, ..."
3,American Idiot (Album Version),Green Day,176,angry,dont wanna be an american idiot dont want nat...,"[dont, wan, na, be, an, american, idiot, dont,..."
4,Angry Again,Megadeth,242,angry,the more of you that inspect the more of me ...,"[the, more, of, you, that, inspect, the, more,..."
5,Annihilation By The Hands Of God (Album Version),Roadrunner United,333,angry,the prophets of god have left you solaced inde...,"[the, prophets, of, god, have, left, you, sola..."

In [17]:
import string 
import re
#remove number
def remove_number(text):
    return  re.sub(r"\d+", "", text)

test_data['Lyrics'] = test_data['Lyrics'].apply(remove_number)

#remove punctuation
def remove_punctuation(text):
    return text.translate(str.maketrans("","",string.punctuation))

test_data['Lyrics'] = test_data['Lyrics'].apply(remove_punctuation)

#remove whitespace leading & trailing
def remove_whitespace_LT(text):
    return text.strip()

test_data['Lyrics'] = test_data['Lyrics'].apply(remove_whitespace_LT)

#remove multiple whitespace into single whitespace
def remove_whitespace_multiple(text):
    return re.sub('\s+',' ',text)

test_data['Lyrics'] = test_data['Lyrics'].apply(remove_whitespace_multiple)

# remove single char
def remove_singl_char(text):
    return re.sub(r"\b[a-zA-Z]\b", "", text)

test_data['Lyrics'] = test_data['Lyrics'].apply(remove_singl_char)

# NLTK word tokenize 
def word_tokenize_wrapper(text):
    return word_tokenize(text)

test_data['Lyrics_tokens']= test_data['Lyrics'].apply(word_tokenize_wrapper)

print('Tokenizing Result : \n') 
print(test_data['Lyrics_tokens'])
print('\n\n\n')

Tokenizing Result :

SongID
1      [sometimes, you, just, feel, tired, feel, weak...
2      [too, late, for, the, other, side, caught, in,...
3      [cast, your, eyes, into, the, distance, try, t...
4      [look, like, ass, smell, like, shit, why, are,...
5      [you, find, me, offensive, find, you, offensiv...
                             ...
97     [the, bluest, skies, dont, seem, so, blue, and...
98     [you, are, my, sunshine, my, only, sunshine, y...
99     [see, the, pyramids, along, the, nile, watch, ...
100    [see, the, pyramids, along, the, nile, watch, ...
101    [staring, at, the, moon, so, blue, turning, al...
Name: Lyrics_tokens, Length: 378, dtype: object

In [18]:
test_data.head()

,Song Name,Artist's Name,Duration of Music (seconds),Category,Lyrics,Lyrics_tokens
SongID,,,,,,
1,'Till I Collapse,Eminem,299,angry,sometimes you just feel tired feel weak when y...,"[sometimes, you, just, feel, tired, feel, weak..."
2,25 To Life,Eminem,644,angry,too late for the other side caught in change ...,"[too, late, for, the, other, side, caught, in,..."
3,A Century Ends,David Gray,308,angry,cast your eyes into the distance try to focus ...,"[cast, your, eyes, into, the, distance, try, t..."
4,A N I C,Sum 41,41,angry,look like ass smell like shit why are you such...,"[look, like, ass, smell, like, shit, why, are,..."
5,Rain Man,Eminem,320,angry,you find me offensive find you offensive for ...,"[you, find, me, offensive, find, you, offensiv..."

## 4. Stopwords Removal

In [19]:
# Stopwords Removal
from nltk.corpus import stopwords

stop = stopwords.words('english')
train_data['Lyrics_tokens_preprocessing'] = train_data['Lyrics_tokens'].apply(lambda x: [item for item in x if item not in stop])
test_data['Lyrics_tokens_preprocessing'] = test_data['Lyrics_tokens'].apply(lambda x: [item for item in x if item not in stop])

## 5. Stemming

In [20]:
# stemming
from nltk.stem.porter import PorterStemmer

stemmer = PorterStemmer()
train_data['Lyrics_tokens_preprocessing'] = train_data['Lyrics_tokens_preprocessing'].apply(lambda x: [stemmer.stem(y) for y in x])
test_data['Lyrics_tokens_preprocessing'] = test_data['Lyrics_tokens_preprocessing'].apply(lambda x: [stemmer.stem(y) for y in x])

## 6. Lemmatization

In [21]:
# Lemmatization
from nltk.stem import WordNetLemmatizer

lemmatizer = WordNetLemmatizer()

train_data['Lyrics_tokens_preprocessing'] = train_data['Lyrics_tokens_preprocessing'].apply(lambda x: [lemmatizer.lemmatize(y) for y in x])
test_data['Lyrics_tokens_preprocessing'] = test_data['Lyrics_tokens_preprocessing'].apply(lambda x: [lemmatizer.lemmatize(y) for y in x])

In [22]:
# data train setelah melakukan data preprocessing
train_data.head()

,Song Name,Artist's Name,Duration of Music (seconds),Category,Lyrics,Lyrics_tokens,Lyrics_tokens_preprocessing
SongID,,,,,,,
1,All Messed Up,Sum 41,164,angry,another day wasted out of time cant get out o...,"[another, day, wasted, out, of, time, cant, ge...","[anoth, day, wast, time, cant, get, alter, sta..."
2,All Nightmare Long,Metallica,477,angry,crawl from the wreckage one more time horrific...,"[crawl, from, the, wreckage, one, more, time, ...","[crawl, wreckag, one, time, horrif, memori, tw..."
3,American Idiot (Album Version),Green Day,176,angry,dont wanna be an american idiot dont want nat...,"[dont, wan, na, be, an, american, idiot, dont,...","[dont, wan, na, american, idiot, dont, want, n..."
4,Angry Again,Megadeth,242,angry,the more of you that inspect the more of me ...,"[the, more, of, you, that, inspect, the, more,...","[inspect, see, reflect, tri, read, lip, mask, ..."
5,Annihilation By The Hands Of God (Album Version),Roadrunner United,333,angry,the prophets of god have left you solaced inde...,"[the, prophets, of, god, have, left, you, sola...","[prophet, god, left, solac, inde, zombi, jesu,..."

In [23]:
# data test setelah melakukan data preprocessing
test_data.head()

,Song Name,Artist's Name,Duration of Music (seconds),Category,Lyrics,Lyrics_tokens,Lyrics_tokens_preprocessing
SongID,,,,,,,
1,'Till I Collapse,Eminem,299,angry,sometimes you just feel tired feel weak when y...,"[sometimes, you, just, feel, tired, feel, weak...","[sometim, feel, tire, feel, weak, feel, weak, ..."
2,25 To Life,Eminem,644,angry,too late for the other side caught in change ...,"[too, late, for, the, other, side, caught, in,...","[late, side, caught, chang, life, late, side, ..."
3,A Century Ends,David Gray,308,angry,cast your eyes into the distance try to focus ...,"[cast, your, eyes, into, the, distance, try, t...","[cast, eye, distanc, tri, focu, find, spirit, ..."
4,A N I C,Sum 41,41,angry,look like ass smell like shit why are you such...,"[look, like, ass, smell, like, shit, why, are,...","[look, like, as, smell, like, shit, dick, walk..."
5,Rain Man,Eminem,320,angry,you find me offensive find you offensive for ...,"[you, find, me, offensive, find, you, offensiv...","[find, offens, find, offens, find, offens, hen..."

# Feature & Label Extraction (TF IDF/ Count Vectorize)

In [24]:
# tf-idf
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.feature_extraction.text import TfidfTransformer

def do_nothing(tokens):
    return tokens

count_vect = CountVectorizer(tokenizer=do_nothing, lowercase=False)
X_train_tf = count_vect.fit_transform(train_data['Lyrics_tokens_preprocessing'])

tfidf_transformer = TfidfTransformer()
X_train_tfidf = tfidf_transformer.fit_transform(X_train_tf)